.display {
  width: 100%;
  height: 60px;
  padding: 10px 12px;
  font-size: 1.6rem;
  text-align: right;
  border-radius: 8px;
  border: 1px solid #cbd5f5;
  background-color: #ffffff;
  color: #020617;
  outline: none;
  margin-bottom: 15px;
}
