* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d2d44;
}

.calculator {
  width: 100%;
  max-width: 320px;
  padding: 16px;
  border-radius: 12px;
  background-color: #0d1321;
}